In [1]:
import pandas as pd

In [2]:
df_treino = pd.read_excel('ep1.xlsx', sheet_name='TREINO')

In [3]:
df_vocabulario = pd.read_excel('ep1.xlsx', sheet_name='VOCABULARIO')

In [4]:
# Amostra DF de Treinamento


df_treino.head()

                                               texto     setor profissao
0  - Dados de qualquer empreendimento da agricult...  economia  academic
1  - Quanto cada regional da Funai na região Nort...   ciencia     other
2  - Quantos cargos de Técnico Bancário existem n...  economia     other
3  - Quantos computadores são utilizados por este...   ciencia     other
4  - Solicito por gentileza, a informação sobre a...   ciencia     other

In [5]:
# Dimensoes DF de Treinamento


df_treino.shape

(16520, 3)

In [6]:
# Amostra Vocabulario


df_vocabulario.head()

                                               texto
0  - Dados de aderência da população à vacina con...
1  - Dados de qualquer empreendimento da agricult...
2  - Listagem de estabelecimentos de saúde e proc...
3  - Listagem de estabelecimentos de saúde e proc...
4  - Número de cisternas, por tipo, por município...

In [7]:
# Validando DF de Treinamento


df_vocabulario.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19800 entries, 0 to 19799
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   texto   19800 non-null  object
dtypes: object(1)
memory usage: 154.8+ KB

In [12]:
# Convertendo Arquivos em .csv


#df_treino.to_csv('ep1.csv', index=False)
#df_vocabulario.to_csv('vocabulario.csv', index=False)