In [1]:
import pandas as pd

In [2]:
df_treino = pd.read_excel('ep1.xlsx', sheet_name='TREINO')

In [3]:
df_vocabulario = pd.read_excel('ep1.xlsx', sheet_name='VOCABULARIO')

### Dados de Treino

In [4]:
# Amostra DF de Treinamento


df_treino.head()

                                               texto     setor profissao
0  - Dados de qualquer empreendimento da agricult...  economia  academic
1  - Quanto cada regional da Funai na região Nort...   ciencia     other
2  - Quantos cargos de Técnico Bancário existem n...  economia     other
3  - Quantos computadores são utilizados por este...   ciencia     other
4  - Solicito por gentileza, a informação sobre a...   ciencia     other

In [5]:
# Dimensoes DF de Treinamento


df_treino.shape

(16520, 3)

#### Validação: Setor

In [12]:
# Há textos duplicados


df_treino.groupby('setor').agg({'setor': 'count', 'texto': ['count', 'nunique']})

         setor texto
         count count nunique
setor
ciencia   3006  3006    2632
economia  3011  3011    2969
educacao  2901  2901    2292
governo   2899  2899    2615
saude     2386  2386    2283
trabalho  2317  2317    2074

In [29]:
# Removendo Duplicidades


df_setor = df_treino[['texto', 'setor']].drop_duplicates()

In [30]:
# Validando distribuição dos setores
# Estão balanceados?


dist_setor = df_setor['setor'].value_counts()
dist_setor_perc = (dist_setor / dist_setor.sum()) * 100
dist_setor_perc

economia    19.973091
ciencia     17.706021
governo     17.591658
educacao    15.418769
saude       15.358224
trabalho    13.952237
Name: setor, dtype: float64

#### Validação: Profissão

In [23]:
# Há textos duplicados


df_treino.groupby('profissao').agg({'setor': 'count', 'texto': ['count', 'nunique']})

           setor texto
           count count nunique
profissao
academic    4130  4130    3565
government  4130  4130    3059
other       4130  4130    3865
private     4130  4130    4009

In [31]:
# Removendo Duplicidades


df_profissao = df_treino[['texto', 'profissao']].drop_duplicates()

In [32]:
# Validando distribuição dos setores 
# Estão Balanceados?


dist_profissao = df_profissao['profissao'].value_counts()
dist_profissao_perc = (dist_profissao / dist_profissao.sum()) * 100
dist_profissao_perc

private       27.652090
other         26.658849
academic      24.589599
government    21.099462
Name: profissao, dtype: float64

#### Análise dos Textos

In [33]:
#

### Vocabulário

In [6]:
# Amostra Vocabulario


df_vocabulario.head()

                                               texto
0  - Dados de aderência da população à vacina con...
1  - Dados de qualquer empreendimento da agricult...
2  - Listagem de estabelecimentos de saúde e proc...
3  - Listagem de estabelecimentos de saúde e proc...
4  - Número de cisternas, por tipo, por município...

In [7]:
# Validando DF de Treinamento


df_vocabulario.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19800 entries, 0 to 19799
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   texto   19800 non-null  object
dtypes: object(1)
memory usage: 154.8+ KB

In [12]:
# Convertendo Arquivos em .csv


#df_treino.to_csv('ep1.csv', index=False)
#df_vocabulario.to_csv('vocabulario.csv', index=False)